.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.icon-style{
  height: 1.5rem;
  width: 1.5rem;
  fill: #00d1b2;
}

.tableGrid{
    border-collapse: collapse;
    width: 80%;
    border:1px solid black;
}

.tableGrid td, .tableGrid th {
    padding: 10px;
    text-align: center;
}

table tbody tr:hover{
  background-color: #D2E2F9;
}

.top-border{
  border-top: 1px solid;
}

.bottom-border{
  border-bottom: 1px solid;
}

.zebra{
  background-color: #F2F2F2;
}

.noPadding{
  padding: 5  px !important;
}

input{ 
  height:25px; 
  display:inline-block;
  position:relative;
  border-radius: 5px;
  padding: 3px;
}

input:focus { 
    outline: none !important;
    border:1px solid #00d1b2;
    box-shadow: 0 0 10px #719ECE;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:   #719ECE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #719ECE;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #719ECE;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:   #719ECE;
}

.divFlex{
  display: flex;
  width: 80%;
}

.buttonContainer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end

}

.greenButton{
  border-radius: 5px;
  height: 30px;
  background-color: #fff;
  color: #00d1b2;
  font-size: medium;
  border-color: #00d1b2;
}

.margin-btn{
  margin: 15px;
}

.reset-div{
  display: flex;
  align-self: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
